#slideshow {
    margin-left: 15%;
    position:relative;
    /*width: 0;*/
    /*height: 240px;*/
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    z-index: -1;
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}