<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headerMain :: header-libs"></head>
<head>

    <script src="js/cart/jquery.maskedinput.js" type="text/javascript"></script>
    <script src="js/cart/mask.js" type="text/javascript"></script>
    <script src="js/cart/sendToChange.js" type="text/javascript"></script>

</head>
<body class="background">
<div th:replace="headerMain :: header"></div>

<!--message after Registration-->
<div th:if="${param.successful}" class="linkTop">
    <b><i>  <h3>Вы успешно зарегистрированны, пожалуйста проверьте свой email</h3></i></b>
    <!--<b><i>  <h3>Your registration was successful, pls check email</h3></i></b>-->

</div>

<!--message after EMAIL Registration-->
<h2 class="linkTop">
    <b><span th:text="${successful}"/></b>
</h2>
<p/>
<div style="padding-left: 33%">
    <form  th:object="${takeInfoFromDB}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <label style="color: white" class="NickName" >Ф.И.О.</label>
                </td>
                <td style="padding: 10px">
                    <span class="textColor" id="spanName" th:text="*{name}"></span>
                </td>
            </tr>
            <tr>
                <td style="color: white">
                    <p/><label  >Телефон:</label>
                </td>
                <td style="padding: 10px">
                    <input type="text" style="color: black" th:field="*{phone}" id="phoneCustomer" name="phoneEdit"/>
                </td>
            </tr>
            <tr>
                <td style="color: white">
                    <p/><label>Адрес доставки:</label>
                </td>
                <td style="padding: 10px">
                             <textarea class="buttons" style="color: black" th:field="*{description}" rows="5" cols="35"
                                       name="descriptionEdit"
                                       id="descriptionEdit" maxlength="255"></textarea>
                </td>
            </tr>
            <tr>
                <td style="color: white">
                    <p/><label  class="Email" data-icon="e" >Email</label>
                </td>
                <td style="padding: 10px">
                    <input type="text" style="color: black" th:field="*{email}" id="email" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="submit" id="buttonSaveEdit" class="tableBtn" value="Сохранить"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>