<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="headerMain :: header-libs"></head>
<head>
    <title>Панель администрирования</title>

    <script src="js/cart/adminPanelForOrderCustomer.js" ></script>
    <script src="js/cart/adminPanelCheckbox.js"></script>
    <script src="js/cart/paging.js"></script>
</head>
<body class="background">
<div th:replace="headerMain :: header"></div>
<!--***********************//////////////***********SHOW***********\\\\\\\\\\\\\\\\\\\\\********************-->
<!--****************Quantity objects on one page********************-->
<div class="form-group col-md-1">

    <select class="form-control pagination" id="pageSizeSelect">
        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>
    </select>
</div>
<!--*******************If page will be only one, we can't see links 1,2,3...****************** -->
<div th:if="${persons.totalPages != 1}" >
    <ul class="pagination">
        <!--<li th:class="${persons.number == 0} ? disabled">-->
        <!--<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>-->
        <!--</li>-->
        <li th:class="${persons.number == 0} ? disabled">
            <a class="pageLink" th:href="@{administrationNotSleeps(pageSize=${selectedPageSize}, page=${persons.number})}">&larr;</a>
        </li>
        <!--object of this class is usually available in variable evaluation expressions with the name #numbers-->
        <!--sequence(Integer from, Integer to)-->
        <!--Produces an array with a sequence of integer numbers.-->
        <!--active pointer-disabled = active and class= pointer-disabled-->
        <li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'" th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
            <a class="pageLink" th:href="@{administrationNotSleeps(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
        </li>
        <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
            <a class="pageLink" th:href="@{administrationNotSleeps(pageSize=${selectedPageSize}, page=${persons.number + 2})}">&rarr;</a>
        </li>
        <!--<li th:class="${persons.number + 1 == persons.totalPages} ? disabled">-->
        <!--<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${persons.totalPages})}">&raquo;</a>-->
        <!--</li>-->
    </ul>
</div>

<p/>
<!--<div th:each="customer : ${selected}" align="center">-->
<div  align="center" >
    <table border="1" class="ifChange" width="70%" style="margin-top: 20px">
        <tr th:each="customer : ${persons}">
            <!--id="checkOrderOnReceive" class="changeColor"-->
            <td align="center">

                <span th:text="${customer.nameCustomer}" >Name</span>
                </td>
            <td align="center">

                <span th:text="${customer.phoneCustomer}">phone</span>
                </td>
            <td align="center">
                <span id="orderDate" th:text="${customer.oderDate}">oderDate</span>
               </td>
            <td align="center">
                    <input type="checkbox"  th:checked="${customer.reciveOrder}" class="receiveOrder" name="receiveOrder"/>
                <br/><span>  Заказ в обработке</span>
            </td>
            <td align="center">
                <input type="checkbox" th:checked="${customer.sentOrder}" class="sentOrderToCustomer" name="sentOrderToCustomer"/>
                <br/><span>  Заказ отправлен</span>
            </td>
            <td align="center" >
                <form action="customerData" method="post">
                    <button style="background-color: #009700; color: white; border-radius: 9px;">Заказчик</button>
                    <input type="hidden" name="customerInfo" id="customerInfo" th:value="${customer.customer_id}"/>
                </form>
                </td>
            <td align="center" >
                <!--<form action="orderFromCustomer" method="post">-->
                <!--<div class="checkOrder">-->
                    <!--<button onclick="clickBtn()" style="background-color: #009700; color: white; border-radius: 9px;" >Заказ</button>-->
                    <button class="checkOrder" th:attr="data-customer-id = ${customer.customer_id}" style="background-color: #009700; color: white; border-radius: 9px;" >Заказ</button>
                    <!--<input type="hidden" name="orderCustomer" id="orderCustomer" th:value="${customer.customer_id}"/>-->
                <!--</div>-->
                    <!--</form>-->
            </td>
            <td align="center">
                <!--<br/>-->&nbsp;
                <div class="saveInfo">
                <input type="hidden"  name="saveBtn" th:value="${customer.customer_id}"/>
                <input type="button"  value="Save" style="background-color: #0b0a26;
                border-radius: 9px; color: white"/>
                    <!--onclick="sendCheckboxChange()"-->
                </div>
                <br/>
            </td>
            <td align="center">
                <!--<br/>-->&nbsp;
                <div class="deleteDiv">
                    <input type="hidden"  name="deleteBtn" th:value="${customer.customer_id}"/>
                        <img src="icons/delete16.gif" style="cursor: pointer" title="Удалить заказ"/>
                </div>
                <br/>
            </td>
        </tr>

    </table>
</div>

</body>
</html>