<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="headerMain :: header-libs"></head>
<head>
    <title>Cloth fabrics, ткани для скатертей, скатерти</title>

    <script src="js/cart/adminPanelForOrderCustomer.js" ></script>

</head>
<body class="background">
<div th:replace="headerMain :: header"></div>
<!--***********************//////////////***********SHOW***********\\\\\\\\\\\\\\\\\\\\\********************-->

<p/>
<!--<div th:each="customer : ${selected}" align="center">-->
<div  align="center">
    <table border="1" width="70%" style="margin-top: 20px">
        <tr th:each="customer : ${selected}"  >

            <td align="center">

                <span th:text="${customer.nameCustomer}" >Name</span>
                </td>
            <td align="center">

                <span th:text="${customer.phoneCustomer}">phone</span>
                </td>
            <td align="center">
                <span th:text="${customer.oderDate}">oderDate</span>
               </td>
            <td align="center" >
                <form action="customerData" method="post">
                    <button style="background-color: #009700; color: white; border-radius: 9px;">Заказчик</button>
                    <input type="hidden" name="customerInfo" id="customerInfo" th:value="${customer.customer_id}"/>
                </form>
                </td>
            <td align="center" >
                <form action="orderFromCustomer" method="post">
                <!--<div class="classEverything">-->
                    <button  style="background-color: #009700; color: white; border-radius: 9px;" >Заказ</button>
                    <!--<button class="classEverything" onclick="orderIdForCheck()" style="background-color: #009700; color: white; border-radius: 9px;" >Заказ</button>-->
                    <input type="hidden" name="orderCustomer" id="orderCustomer" th:value="${customer.customer_id}"/>
                </form>
                <!--<br/>-->
                <!--</div>-->
            </td>
            <td align="center">
                <!--<br/>-->&nbsp;
                <div class="deleteDiv">

                    <input type="hidden"  name="deleteBtn" th:value="${customer.customer_id}"/>
                        <img src="icons/delete16.gif" style="cursor: pointer" title="Удалить заказ"/>
                </div>
                <br/>
            </td>

        </tr>

    </table>
</div>

</body>
</html>