<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="headerMain :: header-libs"></head>
<head>
    <title>Панель администрирования</title>
    <script src="js/cart/changeQuantityFromOrderCustomer.js" ></script>
</head>
<body class="background">
<div th:replace="headerMain :: header"></div>
<!--***********************//////////////***********SHOW***********\\\\\\\\\\\\\\\\\\\\\********************-->

<p/>
<!--<div th:each="customer : ${selected}" align="center">-->
<div  align="left">
    <table border="0" style="background-color: darkgray; color: #000;" width="30%" >
       
        <tr th:each="customer : ${customerInfo}"  >
            <td>
                <input type="hidden" id="orderCustomer" th:value="${customer.customer_id}"/>
                <span th:text="${customer.nameCustomer}" >Name</span>
                </td>
            <td align="center">
                <span th:text="${customer.oderDate}">oderDate</span>

               </td>
        </tr>
    </table>
</div>
<p/>
<div align="center">
    <table border="1" width="80%" style="margin-top: 20px; border-collapse: collapse; border-radius: 10px">
        <tr style="background-color: darkgray; border-radius: 7px">
            <td  align="center" style="color: white;">Фото</td>
            <td  align="center" style="color: white;">Название</td>
            <td  align="center" style="color: white;">Описание</td>
            <td  align="center" style="color: white;">Структура</td>
            <td  align="center" style="color: white;">Рисунок</td>
            <td  align="center" style="color: white;">Высота</td>
            <td  align="center" style="color: white;">Цвет</td>
            <td  align="center" style="color: white;">Количество</td>
            <td  align="center" style="color: white;">Цена</td>
            <td ></td>
            <td ></td>
        </tr>
        <tr th:each="customerOrder : ${selected}" >
            <td>
                <img th:attr="src=${customerOrder.photo}" width="80" height="56" />
            </td>
            <td align="center">

                <span th:text="${customerOrder.name}" >Name</span>
            </td>
            <td align="center">
                <span  th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(customerOrder.description),'\n','&lt;br /&gt;'))}"></span>
                <!--we can use <pre>, but must write CSS-->
                <!--<pre th:text="${customerOrder.description}">phone</pre>-->
            </td>
            <td align="center">
               <span th:text="${customerOrder.structure}">oderDate</span>
                </td>
            <td>
               <span th:text="${customerOrder.paint}">oderDate</span>
                </td>
            <td>
                 <span th:text="${customerOrder.height}">oderDate</span><br/>
                </td>
            <td>
                  <span th:text="${customerOrder.color}">oderDate</span><br/>

            </td>
            <td align="center" >
                <input type="text" th:id="${'quantity-' + customerOrder.id}" name="quantityNew" th:value="${customerOrder.quantity}"/>
            </td>
            <td align="center" >
                
                <span th:text="${customerOrder.price}">Address</span>

            </td>
            <td align="center">
                    <input type="button"  class="saveEdit" th:attr="data-customer-id = ${customerOrder.id}" value="Save edit"/>
            </td>
            <td align="center" >
                <div class="deleteOrderCustomer">
                    <input type="hidden"  name="deleteForOrderCustomer" th:value="${customerOrder.id}"/>
                <input type="submit" class="submitForDeleteInCustomerOrder" title="Удалить заказ" value=""/>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>