<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="headerMain :: header-libs"></head>
<head>
    <title>Cloth fabrics, ткани для скатертей, скатерти</title>



</head>
<body class="background">
<div th:replace="headerMain :: header"></div>
<!--***********************//////////////***********SHOW***********\\\\\\\\\\\\\\\\\\\\\********************-->

<p/>
<!--<div th:each="customer : ${selected}" align="center">-->
<div  align="center">
    <table border="0" width="70%" style="margin-top: 20px">

        <tr th:each="customer : ${selected}"  >

            <td align="center">

                <span th:text="${customer.nameCustomer}" >Name</span>
                </td>
            <td align="center">

                <span th:text="${customer.phoneCustomer}">phone</span>
                </td>
            <td align="center">
                <span th:text="${customer.oderDate}">oderDate</span>

               </td>
            <td align="center" >

                <span th:text="${customer.emailCustomer}">emailCustomer</span>
                </td>
            <td align="left" >

                <span  th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(customer.addressCustomer),'\n','&lt;br /&gt;'))}">Address</span>

            </td>

        </tr>
        <!--<tr th:each="curtain : ${selected}">-->
            <!--<td colspan="5" align="Right" width="80">-->
                <!--<input type="hidden" name="quantityInDB" id="quantityInDB" th:value="${curtain.quantity}"/>-->
                <!--<input type="hidden"  id="describeID" th:value="${curtain.description}"/>-->
                <!--<input type="hidden" name="photoId" id="photoId" th:value="${curtain.photo}"/>-->
                <!--<input type="hidden" name="priceID" id="priceID" th:value="${curtain.price}"/>-->

                <!--&lt;!&ndash;********************************NameWhisky*********************************&ndash;&gt;-->
                <!--<input type="hidden" id="name" name="name" th:value="${curtain.name}" />-->
                <!--<input type="button" class="buyMenu" id="clickToSummonsBuy"  style="width: 60px" value="Купить"/>-->
                <!--&lt;!&ndash;<input type="button"  data-toggle="modal" data-target="#goBuy" id="clickToSummonsBuy"  style="width: 60px" value="Купить"/>&ndash;&gt;-->

            <!--</td>-->
        <!--</tr>-->
    </table>
</div>

</body>
</html>