<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headerMain :: header-libs"></head>
<body class="background">
<div th:replace="headerMain :: header"></div>

<!--***********************************SLIDER****************************************-->
<div style="color: white; padding-left: 15%; padding-right: 15%" >
  <h2>  О нас</h2><p/>

    Уважаемые клиенты,<p/>

    мы всегда рады помочь в оформлении Вашего  интерьера текстильными изделиями.<p/>

    На сайте вы можете посмотреть и приобрести  готовые комплекты штор, ткани  для гардин и штор со склада в Киеве или заказать у европейских производителей. Также со склада можно купить фурнитуру для штор, кисти, бахрому и различные текстильные изделия для интерьера - декоративные подушки, скатерти, салфетки, текстильные картины и т.д.

    <p/> В разделе "Ткани" представлены портьерные ткани и тюль, которые продаются отрезами от 0,5 м. Некоторые портьерные ткани могут использоваться и как оббивка для мебели, что вы можете увидеть в подразделе "Оббивочные ткани".

    <p/> "Ткани для скатертей" - на нашем сайте представлены итальянским производителем и характеризуются большим выбором расцветок и компаньонов. У всех этих тканей высота 3,3 м. В одном цвете каждого артикула представлено 5 компаньонов, что позволяет изготовить не только скатерти и салфетки в наборе, но и шторы, покрывала и накидки для мебели в одной цветовой гамме.

    <p/>В подразделе "Портьеры" и "Тюль" представлен товар, который находится на складе в Украине. Каждая фотография сопровождается еще несколькими, на которых показана ткань или тюль в сборке, на окне, с подхватом, в растянутом виде, чтобы лучше был виден рисунок и т.д. Мы старались максимально показать структуру ткани, для того, чтобы можно было понять мягкая или жесткая ткань, ломкая или струящаяся. Пожалуйста, задавайте вопросы, мы готовы выслать вам еще массу дополнительных фотографий, чтобы вам было удобнее выбрать тот или иной артикул.

    <p/>В подразделе "Заказные" представлены каталоги итальянских, испанских, немецких, турецких производителей, которые вы можете заказать. Доставка в Украину, как правило, 2-4 недели в зависимости от страны доставки. Для заказа этих тканей необходима 50% предоплата.

    <p/>В разделе "Готовые изделия" представлены готовые комплекты штор и тюля разных размеров. Пошиты они на тесьме, люверсах, петлях или тоннеле. В описании к каждой фотографии есть максимальная информация.

    <p/>В разделе "Интерьерные мелочи" - различные текстильные изделия.

    <p/>В разделе "Фурнитура" - можно приобрести фурнитура для штор со склада в Киеве. Это кисти, бахрома, различные подхваты, шнуры, бейка, тесьма.

    <p/>Если Вам понравилось какое-либо готовое изделие, но не подходит цвет или дизайн ткани, Вы можете подобрать у нас любую другую ткань или тюль, и мы изгтовим из понравившегося материала точно такое же изделие.

    <p/>Интересного просмотра!!!

    <p/>Всегда готовы ответить на все Ваши вопросы и максимально помочь!


</div>
<div class="down">
<table border="0" align="center">
    <tr>
        <td>
            <a href="#" > &nbsp; О нас&nbsp;&nbsp;   </a> </td>
        <td>
            <a href="payment" > &nbsp; Оплата&nbsp;&nbsp;   </a> </td>
        <td>
            <a href="delivery" >&nbsp; Доставка&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="contact" >&nbsp; Контакты&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="partner" >&nbsp; Партнерам&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="connectWithSupplier" >&nbsp; Связаться с нами&nbsp;&nbsp;&nbsp;</a>
        </td>    </tr>
</table>
</div>
</body>
</html>