<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headerMain :: header-libs"></head>
<body class="background">
<div th:replace="headerMain :: header"></div>

<!--***********************************SLIDER****************************************-->
<div style="color: white; padding-left: 15%; padding-right: 15%" >
  <h2>  Контакты</h2><p/>

    г.Киев<p/>

    +38 067 112 1281 - Киевстар<p/>

    +38 063 880 5153 - Лайф

    <p/>+38 099 049 5777 - МТС

    <p/>inttex1@ukr.net


</div>
<div class="down">
<table border="0" align="center">
    <tr>
        <td>
            <a href="about" > &nbsp; О нас&nbsp;&nbsp;   </a> </td>
        <td>
            <a href="payment" > &nbsp; Оплата&nbsp;&nbsp;   </a> </td>
        <td>
            <a href="delivery" >&nbsp; Доставка&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="#" >&nbsp; Контакты&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="partner" >&nbsp; Партнерам&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="connectWithSupplier" >&nbsp; Связаться с нами&nbsp;&nbsp;&nbsp;</a>
        </td>
    </tr>
</table>
</div>
</body>
</html>