<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headerMain :: header-libs"></head>
<body class="background">
<div th:replace="headerMain :: header"></div>

<!--***********************************SLIDER****************************************-->
<div style="color: white; padding-left: 15%; padding-right: 15%" >
  <h2>  Доставка</h2><p/>

    <i><h4>Уважаемые клиенты,<p/>

        Мы всегда перезваниваем клиенту после получения заказа для того, чтобы уточнить детали. Если мы не можем по какой-то причине Вам дозвонится, то обязательно отправляем письмо на указанный е-мейл. Товар бронируется под Ваш заказ на 48 часов, если в течение этого времени мы так и не смогли связаться с заказчиком, бронь снимается и заказ анулируется.

        </h4><p/>Доставка  заказа осуществляется любым удобным для Вас способом:

        <p/>- через внутреннего перевозчика (Автолюкс, Новая почта, Гюнсел и т.д.)

        <p/>- бесплатная доставка по Киеву, если сумма заказа не меньше 1500 гр.

        <p/>- если сумма заказа меньше 1500 гр, то стоимость доставки по Киеву составляет 150 гр.
</i>
    <p/>&nbsp;<p/>&nbsp;<p/>&nbsp;<p/>&nbsp;<p/>&nbsp;<p/>&nbsp;<p/>
</div>
<div class="down">
<table border="0" align="center">
    <tr>
        <td>
            <a href="about" > &nbsp; О нас&nbsp;&nbsp;   </a> </td>
        <td>
            <a href="payment" > &nbsp; Оплата&nbsp;&nbsp;   </a> </td>
        <td>
            <a href="#" >&nbsp; Доставка&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="contact" >&nbsp; Контакты&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="partner" >&nbsp; Партнерам&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="connectWithSupplier" >&nbsp; Связаться с нами&nbsp;&nbsp;&nbsp;</a>
        </td>
    </tr>
</table>
</div>
</body>
</html>