<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headerMain :: header-libs"></head>
<body class="background">
<div th:replace="headerMain :: header"></div>

<!--***********************************SLIDER****************************************-->
<div style="color: white; padding-left: 15%; padding-right: 15%" >
  <h2>  Оплата</h2><p/>

    Уважаемые клиенты,<p/>

    <p/>пожалуйста, помните, что отрезной товар, согласно Закону о защите прав потребителей (№ 3161-IV от 01.12.2005) и Дополнению №3 к постановлению Кабинета Министров Украины от 19.03.1994 №172, обмену и возврату не подлежит.

    <p/>Отрез товара происходит по индивидуальному заказу, поэтому отпускается только по предоплате не менее 50% от стоимости заказа.

    <p/>Пожалуйста, учитывайте, что при заказе на индивидуальный пошив, мы можем приступить к работе только после поступления предоплаты в размере не менее 50% от стоимости всего заказа.

    <p/>Штучный товар отпускается по предоплате не менее 50 гр. Остальная сумма может быть доплачена наложенным платежом во время получения товара.
    <p/>
    Оплата  товара производится любым удобным для Вас способом:

    <p/>- отправка заказа наложенным платежом (после вышеоговоренной предоплаты)

    <p/>- оплата на расчетный счет - в этом случае мы выставляем вам счет-фактуру, по которой и производится оплата на банковский счет предпринимателя

    <p/>- оплата через курьера (если будет заказана услуга "Доставка")

    <p/>- оплата на карточку Приватбанка или Райффайзен банк Аваль

    <p/>Просьба в заказе обязательно указывать желаемый способ оплаты.

    <p/>Уважаемые клиенты!

    <p/>Мы всегда перезваниваем клиенту после получения заказа для того, чтобы уточнить детали. Если мы не можем по какой-то причине Вам дозвонится, то обязательно отправляем письмо на указанный е-мейл. Товар бронируется под Ваш заказ на 48 часов, если в течение этого времени мы так и не смогли связаться с заказчиком, бронь снимается и заказ анулируется.

    <p/>Огромное спасибо за интерес, проявленный к нашему интернет-магазину!
</div>
<div class="down">
<table border="0" align="center">
    <tr>

        <td>
            <a href="about" > &nbsp; О нас&nbsp;&nbsp;   </a> </td>
        <td>
            <a href="#" > &nbsp; Оплата&nbsp;&nbsp;   </a> </td>
        <td>
            <a href="delivery" >&nbsp; Доставка&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="contact" >&nbsp; Контакты&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="partner" >&nbsp; Партнерам&nbsp;&nbsp;&nbsp;</a>
        </td>
        <td>
            <a href="connectWithSupplier" >&nbsp; Связаться с нами&nbsp;&nbsp;&nbsp;</a>
        </td>
    </tr>
</table>
</div>
</body>
</html>