<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="headerMain :: header-libs"></head>
<head>
    <title>Curtain, ткани, портьеры</title>

    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui.min.js" type="text/javascript"></script>
    <link href="js/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <!--<link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<script src="css/bootstrap/js/bootstrap.min.js"/>-->
    <script src="js/fabric/cloth.js" ></script>
    <script src="js/fabric/searchCloth
    .js"></script>
    <!--<script src="js/fabric/searchCurtainN.js"></script>-->
    <!--<link href="css/filterColor.css" rel="stylesheet" type="text/css"/>-->

</head>
<body class="background">
<div th:replace="headerMain :: header"></div>

<div th:each="curtain : ${selected}" align="center">
    <table border="1" width="80%">
        <!--<form action="buyYachtSucceed" th:object = "${bayYachts}" method="post" >-->
        <tr >
            <td align="center" width="45%" height="10%">

                <a href="" data-toggle="modal" data-target="#goImage">
                    <img th:attr="src=${curtain.photo}" width="400" height="570"/><br/>
                    <img th:unless="${curtain.photo01}==null" th:attr="src=${curtain.photo01}" width="100" height="70" />
                    <img id="smallImg02" th:unless="${curtain.photo02}==null" th:attr="src=${curtain.photo02}" width="100" height="170"/>
                    <img id="smallImg03" th:unless="${curtain.photo03}==null" th:attr="src=${curtain.photo03}" width="100" height="170"/>
                    <img id="smallImg04" th:unless="${curtain.photo04}==null" th:attr="src=${curtain.photo04}" width="100" height="170"/>
                    <img id="smallImg05" th:unless="${curtain.photo05}==null" th:attr="src=${curtain.photo05}" width="100" height="170"/>
                </a>

                <!--****************************MODAL WINDOW FOR IMAGE**********************************-->
                <div class="modal fade" tabindex="-1" role="dialog" id="goImage" >
                    <div class="modal-dialog" align="left" >
                        <div class="modal-content" style="background-color: black; ">
                            <div class="modal-header" style="background-color: black; ">
                                <button type="button" class="close" data-dismiss="modal" style=" color: white; opacity: 100"  aria-label="Close">
                                <span aria-hidden="true" style="opacity: 30"> &times;
                                </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div align="center" >
                                    <img   th:unless="${curtain.photo05}==null" th:attr="src=${curtain.photo05}" width="400px" height="570px" />
                                    <img   th:unless="${curtain.photo04}==null" th:attr="src=${curtain.photo04}" width="400px" height="570px" />
                                    <img   th:unless="${curtain.photo03}==null" th:attr="src=${curtain.photo03}" width="400px" height="570px" />
                                    <img   th:unless="${curtain.photo02}==null" th:attr="src=${curtain.photo02}" width="400px" height="570px"  />
                                    <img   th:unless="${curtain.photo01}==null" th:attr="src=${curtain.photo01}" width="400px" height="570px"  />
                                    <img  th:attr="src=${curtain.photo}" width="400" height="570" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>


            <td class="buy" width="25%"><span th:text="${curtain.name}" >Name</span>
                <p/>Описание:
                <span th:text="${curtain.description}">description</span>
                <p/>
                Структура:
                <span th:text="${curtain.structure}">structure</span>
                <p/>
                Рисунок: <span th:text="${curtain.paint}">paint</span>
                <p/>
                Высота: <span th:text="${curtain.height}">height</span>
                <p/>
                Цвет: <span th:text="${curtain.color}">color</span>
            </td>

            <td class="buy" width="15%" th:text="${curtain.price}">Name</td>

        </tr>
        <tr th:each="curtain : ${selectedCurtain}">
            <td colspan="5" align="Right" width="80">
                <input type="hidden" name="quantityWhiskeyInDB" id="quantityWhiskeyInDB" th:value="${curtain.quantity}"/>
                <input type="hidden"  id="describeID" th:value="${curtain.description}"/>
                <input type="hidden" name="photoId" id="photoId" th:value="${curtain.photo}"/>
                <input type="hidden" name="priceID" id="priceID" th:value="${curtain.price}"/>

                <!--********************************NameWhisky*********************************-->
                <input type="hidden" id="nameWhiskey" name="nameWhiskey" th:value="${curtain.name}" />


                <input class="searchMenu" type="submit"  data-toggle="modal" data-target="#go"  style="width: 60px" value="buy"/>

                <!--****************************MODAL WINDOW****************************-->
                <div class="modal fade" tabindex="-1" role="dialog" id="go">
                    <div class="modal-dialog" align="left">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                </button>
                                <h4 class="modal-title">Корзина</h4>
                            </div>
                            <div class="modal-body">

                                <div align="center">

                                    <table border="0">
                                        <tr>
                                            <td>
                                                <img  th:attr="src=${curtain.photo}" width="50" height="80"/>
                                            </td>

                                            <!--<div style="border-left:1px solid red; padding:5px">-->
                                            <td class="verticalLine" >
                                                <span th:text="${curtain.name}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <!--<div style="border-width: 0 0 0 1px;/*толщина*/ border-style: solid; padding-left: 10px;/*отступ слева*/">-->
                                            <td class="verticalLine">
                                                <input  type="number" style="width: 100px" min="1" autofocus=""
                                                        th:attr="max=${curtain.quantity}" placeholder="Enter quantity"
                                                        name="numberOrderWhisky" id="numberOrderWhisky" required="" />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                <br/>
                                                <span id="errorQuantity" style="display: none; font-size: smaller">
                                                  <i><b> You can max. order: <span th:text="${curtain.quantity}"/> </b></i>
                                                </span>
                                                <span id="errorQuantityZERO" style="display: none; font-size: smaller">
                                                     <i><b> You can't order: 0</b></i>
                                                </span>
                                                <span id="errorSummQuantity" style="display: none;  font-size: smaller">
                                                    <i><b> you ordered these goods earlier
                                                        <br/> and your summary order more
                                                        <br/>than we have on warehouse:
                                                        <span th:text="${curtain.quantity}"/> </b></i>
                                                </span>
                                            </td>
                                            <td class="verticalLine" th:text="${curtain.price}">Price
                                                <span id="changePrice"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="button" class="btn btn-primary" id="buyFromJS"  value="Buy"/>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->

                </div><!-- /.modal -->

            </td>
        </tr>
    </table>
</div>
<!--ADD, EDIT, DELETE-->
<!--<p align="right">-->
    <!--<input type="submit"  style="width: 60px" name="addWhisky" id="addWhisky"-->
           <!--onclick="addNewCloth()" sec:authorize="hasAuthority('admin')" class="searchMenu" value="Add"/>-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--<input type="submit" style="width: 60px" sec:authorize="hasAuthority('admin')" onclick="editInfoCloth()"-->
           <!--name="EditWhisky" id="EditYacht" class="searchMenu" value="Edit"/>-->

    <!--<input type="submit" style="width: 60px" sec:authorize="hasAuthority('admin')" onclick="deleteSelectedElementsCloth()"-->
           <!--name="DeleteYacht" id="DeleteYacht" class="searchMenu" value="Delete"/>-->
<!--</p>-->
<!--&lt;!&ndash;********************************SHOW*******************************&ndash;&gt;-->
<!--<div  th:each="cloth : ${allCloth}" >-->
    <!--<div class="morph pic" >-->

        <!--<a th:href="@{~/buyYachts(hiddenYachtName=${cloth.id})}"-->
           <!--style="text-decoration: none" >-->
            <!--<img th:attr="src=${cloth.photo}"  width="400" height="280"/>-->
  <!--<img th:attr="src=${cloth.photo01}"  width="400" height="280"/>-->
  <!--<img th:attr="src=${cloth.photo02}"  width="400" height="280"/>-->
  <!--<img th:attr="src=${cloth.photo03}"  width="400" height="280"/>-->
  <!--<img th:attr="src=${cloth.photo04}"  width="400" height="280"/>-->
  <!--<img th:attr="src=${cloth.photo05}"  width="400" height="280"/>-->

            <!--<div align="center" >-->
                <!--<b>   <span th:text="${cloth.name}">Name</span></b></div>-->
               <!--<div align="center" >-->
                <!--<b>   <span th:text="${cloth.description}">Name</span></b></div>-->
               <!--<div align="center" >-->
                <!--<b>   <span th:text="${cloth.structure}">Name</span></b></div>-->
               <!--<div align="center">-->
                <!--<b>   <span th:text="${cloth.paint}">Name</span></b></div>-->

            <!--<div align="center" >-->
                <!--<b> Quantity: &nbsp; <span  th:text="${cloth.quantity}"-->
                <!--&gt;quantityWhisky</span>piece</b>-->
            <!--</div>-->
            <!--<div align="center" >-->
                <!--<b> $&nbsp; <span  th:text="${cloth.price}">Price</span></b>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>