<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="css/back.css" rel="stylesheet" type="text/css"/>
    <link href="css/selectColor.css" rel="stylesheet" type="text/css"/>
</head>
<body class="backgroundAdd">

<table border="1" style="color: white;" align="center"><p/>
    <form action="addSuccessfulBedroom"  th:object = "${comparePhotoNameWithDB}" method="post" enctype="multipart/form-data">
        <input class="buttons" type="hidden" th:field="*{idForEditCurtain}"/>
        <p/>&nbsp;<p/>
        <tr>
        <tr th:if="${param.id}">
        <td>Текущее photo</td>
        <td>
            <img th:attr="src=*{photo}" style="max-width: 200px; max-height: 180px;"/>
        </td>

    </tr>
        <td>Путь для нового photo</td>
        <td>
            <input type="hidden" th:field="*{id}" />
            <input class="buttons" type="file" style="width: 255px" th:field="*{objectPhotoCurtain}"/>
        </td>
        </tr>
        <tr>
            <td>Текущее photo01</td>
            <td>
                <img th:attr="src=*{photo01}" style="max-width: 200px; max-height: 140px;"/>
            </td>
        </tr>
        <tr>
            <td>Путь для нового photo</td>
            <td>
                <input class="buttons" type="file" style="width: 255px" th:field="*{objectPhotoCurtain01}" />
            </td>
        </tr>
        <tr>
            <td>Текущее photo02</td>
            <td>
                <img th:attr="src=*{photo02}" style="max-width: 200px; max-height: 140px;"/>
            </td>
        </tr>
        <tr>
            <td>Путь для нового photo</td>
            <td>
                <input class="buttons" type="file" style="width: 255px" th:field="*{objectPhotoCurtain02}"/>
            </td>
        </tr>
        <tr>
            <td>Текущее photo03</td>
            <td>
                <img th:attr="src=*{photo03}" style="max-width: 200px; max-height: 140px;"/>
            </td>
        </tr>
        <tr>
            <td>Путь для нового photo</td>
            <td>
                <input class="buttons" type="file" style="width: 255px" th:field="*{objectPhotoCurtain03}"  />
            </td>
        </tr>
        <tr>
            <td>Текущее photo04</td>
            <td>
                <img th:attr="src=*{photo04}" style="max-width: 200px; max-height: 140px;"/>
            </td>
        </tr>
        <tr>
            <td>Путь для нового photo</td>
            <td>
                <input class="buttons" type="file" style="width: 255px" th:field="*{objectPhotoCurtain04}"/>
            </td>
        </tr>
        <tr>
            <td>Текущее photo05</td>
            <td>
                <img th:attr="src=*{photo05}" style="max-width: 200px; max-height: 140px;"/>
            </td>
        </tr>
        <tr>
            <td>Путь для нового photo</td>
            <td>
                <input class="buttons" type="file" style="width: 255px" th:field="*{objectPhotoCurtain05}"/>
            </td>
        </tr>

        <tr>
            <td>Название </td>
            <td><input class="buttons" type="text" th:field="*{name}" required="required" style="width: 255px" name="name" id="name"/>

                <span style="color: red; font-style: italic; font-size: 10px" th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Error</span>
            </td>
        </tr>
        <tr>
            <td>Описание:</td>
            <td>
            <textarea class="buttons" rows="8" cols="35" th:field="*{description}"  name="describeYacht"
                      id="describeYacht" maxlength="255" placeholder="max length 255"></textarea></td>
        </tr>
        <tr>
            <td>
                Структура
            </td>
            <td>
                <input type="radio" name="structureRbn" id="len" th:field="*{structure}" value="Лен" checked="checked"/>Лен
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" id="thread" th:field="*{structure}" value="Нити"/>Нити&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" id="twoLayers" th:field="*{structure}" value="Двухслойная"/>Двухслойная
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" id="squeeze" th:field="*{structure}" value="Жатая"/>Жатая&nbsp;
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" id="jacard" th:field="*{structure}" value="Жаккард"/>Жаккард
                <br/>
                <input type="radio" name="structureRbn" id="sateen" th:field="*{structure}" value="Сатин" />Сатин
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" id="taffeta" th:field="*{structure}" value="Тафта"/>Тафта&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" id="twoSides" th:field="*{structure}" value="Двухсторонняя"/>Двухсторонняя
                &nbsp;
                <input type="radio" name="structureRbn" id="velvet" th:field="*{structure}" value="Бархат"/>Бархат&nbsp;
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" id="krep" th:field="*{structure}" value="Креп"/>Креп

                <br/><div style=" height: 2px; background: #a39fa1;" >&nbsp;</div>

                <input type="radio" name="structureRbn"  th:field="*{structure}" value="Органза" />Органза
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn"  th:field="*{structure}" value="Полуорганза"/>Полуорганза
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" th:field="*{structure}" value="Вуаль"/>Вуаль
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" th:field="*{structure}" value="Лен(батист)"/>Лен(батист)
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" th:field="*{structure}" value="Сетка"/>Сетка
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" th:field="*{structure}" value="Нити" />Нити
                <br/>
                <input type="radio" name="structureRbn" th:field="*{structure}" value="Кружево"/>Кружево
                &nbsp;&nbsp;
                <input type="radio" name="structureRbn" th:field="*{structure}" value="Двухслойная"/>Двухслойная
                &nbsp;&nbsp;
                <input type="radio" name="structureRbn" th:field="*{structure}" value="Жатая"/>Жатая
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="structureRbn" id="vish" th:field="*{structure}" value="Вышивка"/>Вышивка
            </td>
        </tr>
        <tr>
            <td>
                Рисунок
            </td>
            <td>
                <input type="radio" name="paintRbn" id="abstract" th:field="*{paint}" value="Абстрактный" checked="checked"/>Абстрактный
                <input type="radio" name="paintRbn" id="geometrical" th:field="*{paint}" value="Геометрический"/>Геометрический
                <input type="radio" name="paintRbn" id="classical" th:field="*{paint}" value="Классический"/>Классический
                <input type="radio" name="paintRbn" id="monophonic" th:field="*{paint}" value="Однотонный"/>Однотонный&nbsp;
                <input type="radio" name="paintRbn" id="strip" th:field="*{paint}" value="Полоска"/>Полоска
                <br/>
                <input type="radio" name="paintRbn" id="vegetative" th:field="*{paint}" value="Растительный" />Растительный
            </td>
        </tr>
        <tr>
            <td>
                Пошито на
            </td>
            <td>
                <input type="radio" name="paintRbn"  th:field="*{itIsSewed}" value="Tесьме 5см" checked="checked"/>Tесьме 5см
                <input type="radio" name="paintRbn"  th:field="*{itIsSewed}" value="Tесьме 2см"/>Tесьме 2см
                <input type="radio" name="paintRbn"  th:field="*{itIsSewed}" value="Tесьме с эффектом люверсов"/>Tесьме с эффектом люверсов
                <input type="radio" name="paintRbn"  th:field="*{itIsSewed}" value="Люверсах"/>Люверсах&nbsp;
                <input type="radio" name="paintRbn"  th:field="*{itIsSewed}" value="Тоннеле"/>Тоннеле
                <br/>
                <input type="radio" name="paintRbn"  th:field="*{itIsSewed}" value="Петлях" />Петлях
            </td>
        </tr>
        <tr>
            <td>
                Высота
            </td>
            <td>
                <input type="radio" name="heightRbn" th:field="*{height}" id="20" value="2м" checked="checked"/>до 2м
                <input type="radio" name="heightRbn" th:field="*{height}" id="25" value="2.0-2.5м" />2.0-2.5м
                <input type="radio" name="heightRbn"  th:field="*{height}" id="29" value="2.5-2.7м"/>2.5-2.7м
                <input type="radio" name="heightRbn"  th:field="*{height}" id="30" value="2.7-2.9м"/>2.7-2.9м
                <input type="radio" name="heightRbn"  th:field="*{height}" id="315" value="3.15м"/>>3,15м

            </td>
        </tr>
        <tr>
            <td>
                Цвет:
                <br/>

            </td>

            <td>
                <input type="radio" name="rbn" id="white"  th:field="*{color}" value="Белый" checked="checked"/>Белый
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="rbn" id="beige"  th:field="*{color}" value="Бежевый"/>Бежевый&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="rbn" id="cream"  th:field="*{color}" value="Кремовый"/>Кремовый
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="rbn" id="gold"  th:field="*{color}" value="Золотой"/>Золотой&nbsp;
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="rbn" id="yellow" value="Желтый"/>Желтый
                <br/>
                <input type="radio" name="rbn" id="orange"  th:field="*{color}" value="Оранжевый"/>Оранжевый
                <input type="radio" name="rbn" id="peach"  th:field="*{color}" value="Персиковый"/>Персиковый
                <input type="radio" name="rbn" id="terracotta"  th:field="*{color}" value="Терракотовый"/>Терракотовый
                <input type="radio" name="rbn" id="coffe"  th:field="*{color}" value="Кофейный"/>Кофейный&nbsp;
                <input type="radio" name="rbn" id="browne"  th:field="*{color}" value="Коричневый"/>Коричневый
                <br/>
                <input type="radio" name="rbn" id="rose"  th:field="*{color}" value="Розовый"/>Розовый
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="rbn" id="red"  th:field="*{color}" value="Красный"/>Красный
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="rbn" id="claret"  th:field="*{color}" value="Бордовый"/>Бордовый
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="rbn" id="lime" th:field="*{color}" value="Салатовый"/>Салатовый
                <input type="radio" name="rbn" id="green" th:field="*{color}" value="Зеленый"/>Зеленый
                <br/>
                <input type="radio" name="rbn" id="sky" th:field="*{color}" value="Голубой"/>Голубой
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="rbn" id="blue" th:field="*{color}" value="Синий"/>Синий
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="rbn" id="violet" th:field="*{color}" value="Фиолетовый"/>Фиолетовый
                &nbsp;&nbsp;
                <input type="radio" name="rbn" id="grey" th:field="*{color}" value="Серый"/>Серый
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="rbn" id="black" th:field="*{color}" value="Черный"/>Черный
                <br/>
                <div class="colorDiv"></div>
            </td>
        </tr>

        <tr>
            <td>Количество на складе</td>
            <td><input type="text" style="width: 255px" pattern="[0-9]{0,9}.[0-9]{0,2}"
                       th:field="*{quantity}" name="quantityYacht" id="quantityYacht" required=""/> </td>
        </tr>
        <tr>
            <td>Цена </td>
            <td><input type="text" style="width: 255px" pattern="[0-9]{0,9}.[0-9]{0,2}" th:field="*{price}"
                       required="" value="1" name="priceYacht" id="priceYacht"/> </td>
        </tr>
        <tr>
            <!--<form action="../yacht.html">-->

            <td colspan="2" align="right">
                <input type="submit" class="buttons" formaction="/addSuccessfulFinishProduct" style="width: 65px" name="enter"
                       id="enter" value="Save"/> </td>
        </tr>
    </form>
</table>

</body>
</html>