<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="headerMain :: header-libs"></head>
<head>
    <link href="css/shoppingCart.css" rel="stylesheet" type="text/css"/>
</head>
<body class="background">
<div th:replace="headerMain :: header"></div>
<p/>

<table width="50%" align="center" style="background-color: #F0F0F0; color: black; border-radius: 8px; padding-left: 20px;
              padding-right: 20px; margin: 30px auto"  border="0">

    <tbody id="trash"></tbody>
    <tfoot>
    <tr>
        <td align="right" colspan="5">
            Итого:
        </td>
        <td colspan="2" align="center" style="background-color: #dbdbdb; border-radius: 6px">
            <b><span style="color: black;" id="totalCart"></span>&nbsp;грн.</b> </td>
    </tr>

    </tfoot>
</table>
    <div align="center" style="background-color: white; padding: 10px; width: 50%; margin-left: 25%; margin-top: 3%;
    border-radius: 6px; color: black">

        <form action="showAll" method="post">
        <table border="0">
            <tr>
                <td>
                    <label >Ф.И.О.</label>
                </td>
                <td>
                   <span style="color: #000;" th:text="${NickNameCustomer}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Номер телефона:</label>
                </td>
            <td>
                <span style="color: #000;" th:text="${PhoneCustomer}"></span>
            </td>
            </tr>
            <tr>
                <td>
                    <label >Адрес доставки:</label>
                </td>
                <td>
                    <span style="color: #000;" th:text="${descriptionCustomer}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label> Email</label>
                </td>
                <td>
                    <span style="color: #000;" th:text="${EmailCustomer}"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="button" class="btnFurther" onclick="sendToJavaBuy()" value="Оформить заказ"/>
                </td>
            </tr>
           </table>
        </form>
    </div>
        <!--<input type="button" class="btnFurther"  id="sendToJavaBtn"-->
               <!--onclick="sendToJavaBuy()" style="width: 120px" value="Далее" />-->

</body>
</html>
