<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="headerMain :: header-libs"></head>
<head>
    <link href="css/shoppingCart.css" rel="stylesheet" type="text/css"/>
    <!--<link href="css/cart/shoppingCart.css" rel="stylesheet" type="text/css"/>-->
    <script src="js/cart/sendToChange.js" type="text/javascript"></script>
</head>
<body class="background">
<div th:replace="headerMain :: header"></div>
<p/>

<table width="60%" align="center" style="background-color: transparent; color: black; border-radius: 8px;
padding-left: 20px; padding-right: 20px; margin: 30px auto"  border="0">
    <tr>
        <td style="background-color: #F0F0F0; color: black; border-radius: 8px; padding-left: 20px; margin: 30px auto">
            <table  align="center"   border="0">

                <tbody id="trash"></tbody>
                <tfoot>
                    <tr>
                        <td align="right" colspan="5"> Итого:  </td>
                        <td colspan="2" align="center" style="background-color: #dbdbdb; border-radius: 6px">
                            <b><span style="color: black;" id="totalCartShow"></span>&nbsp;грн.</b> </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    <!--</tr>-->
    <!--<tr>-->
        <td>&nbsp;</td>
        <td valign="top" style="background-color: white; padding: 10px; margin-top: 3%; margin-left: 20px; border-radius: 6px;">
            <input type="button" sec:authorize="isAuthenticated()"
                   onclick="changeDataUser()" class="tableBtn" value="Изменить даннные" />
        <table  border="0" >
            <form action="showAll" method="post">
                <tr>
                <td>
                    <label >Ф.И.О.</label>
                </td>
                <td style="padding-left: 10px">
                   <span style="color: #000;" th:text="${NickNameCustomer}" ></span>
                    <!--<input type="hidden" id="orderCustomer" th:value="${customer.customer_id}"/>-->
                    <input type="hidden" id="nameToSend"  th:value="${NickNameCustomer}"/>
                </td>
          </tr>
                <tr><td colspan="2"><div style=" height: 2px; background: #a39fa1;" >&nbsp;</div> </td> </tr>
            <tr>
                <td>
                    <label>Номер телефона:</label>
                </td>
            <td style="padding-left: 10px">
                <span style="color: #000;" th:text="${PhoneCustomer}"></span>
            </td>
            </tr>
                <tr><td colspan="2"><div style=" height: 2px; background: #a39fa1;" >&nbsp;</div> </td> </tr>
            <tr>
                <td>
                    <label >Адрес доставки:</label>
                </td>
                <td style="padding-left: 10px">
                    <span style="color: #000;"
                     th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(descriptionCustomer),'\n','&lt;br /&gt;'))}">description</span>
                </td>
            </tr>
                <tr><td colspan="2"><div style=" height: 2px; background: #a39fa1;" >&nbsp;</div> </td> </tr>
            <tr>
                <td>
                    <label> Email</label>
                </td>
                <td style="padding-left: 10px">
                    <span style="color: #000;" th:text="${EmailCustomer}"></span>
                </td>
            </tr>
                <tr><td colspan="2"><div style=" height: 2px; background: #a39fa1;" >&nbsp;</div> </td> </tr>
            <tr>
                <td colspan="2" align="right">
                    <p/>
                    <input type="button" class="btnFurther" onclick="sendToJavaBuy()" value="Оформить заказ"/>
                </td>
            </tr>

        </form>
           </table>
            </td>
    </tr>
    </table><p/>
<div class="down">
    <table border="0" align="center">
        <tr>
            <td>
                <a href="about" > &nbsp; О нас&nbsp;&nbsp;   </a> </td>
            <td>
                <a href="payment" > &nbsp; Оплата&nbsp;&nbsp;   </a> </td>
            <td>
                <a href="delivery" >&nbsp; Доставка&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="contact" >&nbsp; Контакты&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="partner" >&nbsp; Партнерам&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="connectWithSupplier" >&nbsp; Связаться с нами&nbsp;&nbsp;&nbsp;</a>
            </td>

        </tr>
    </table>
</div>
</body>
</html>
