<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="headerMain :: header-libs"></head>
<head>
    <title>Curtain, ткани, портьеры</title>

    <!--<script async='async' src="js/shoppingCart.js"></script>-->


</head>
<body class="background">
<div th:replace="headerMain :: header"></div>
<!--***********************//////////////***********SHOW***********\\\\\\\\\\\\\\\\\\\\\********************-->
<p/>
<div th:each="curtain : ${selectedCurtain}" align="center">
    <table border="0" width="80%">
        <tr >
            <td align="right" width="40%" height="10%">
                    <img class="buyImage" data-toggle="modal" data-target="#goImage" th:attr="src=${curtain.photo}" style="margin-right: 10px" width="350" height="500"/><br/>
                </td>
            <td align="left">
                <a class="buyImage" data-toggle="modal" data-target="#goImage">
                    <img th:unless="${curtain.photo01}==null" th:attr="src=${curtain.photo01}" width="50" height="75"/><p/>
                    <img th:unless="${curtain.photo02}==null" th:attr="src=${curtain.photo02}" width="50" height="75"/><p/>
                    <img th:unless="${curtain.photo03}==null" th:attr="src=${curtain.photo03}" width="50" height="75"/><p/>
                    <img th:unless="${curtain.photo04}==null" th:attr="src=${curtain.photo04}" width="50" height="75"/><p/>
                    <img th:unless="${curtain.photo05}==null" th:attr="src=${curtain.photo05}" width="50" height="75"/>
                </a>

                <!--****************************MODAL WINDOW FOR IMAGE**********************************-->
                <div class="modal fade" tabindex="-1" role="dialog" id="goImage" >
                    <div class="modal-dialog" style="width: 380px" align="left" >
                        <div class="modal-content" style="background-color: #030020;" >
                            <div class="modal-header" >
                                <button type="button" class="close" data-dismiss="modal" style=" color: white;"  aria-label="Close">
                                <span aria-hidden="true" style="opacity: 20"> &times;
                                </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <img th:attr="src=${curtain.photo}" width="350px" height="500px"/>
                                    <img th:unless="${curtain.photo05}==null" th:attr="src=${curtain.photo05}" width="350px" height="500px" />
                                    <img th:unless="${curtain.photo04}==null" th:attr="src=${curtain.photo04}" width="350px" height="500px"/>
                                    <img th:unless="${curtain.photo03}==null" th:attr="src=${curtain.photo03}" width="350px" height="500px"/>
                                    <img th:unless="${curtain.photo02}==null" th:attr="src=${curtain.photo02}" width="350px" height="500px"/>
                                    <img th:unless="${curtain.photo01}==null" th:attr="src=${curtain.photo01}" width="350px" height="500px"/>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td class="buy" width="25%"><span th:text="${curtain.name}" >Name</span>
                <p/>Описание:<br/>
            <span th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(curtain.description),'\n','&lt;br /&gt;'))}">description</span>
            <p/>
                Структура:
                <span th:text="${curtain.structure}">structure</span>
            <p/>
                Рисунок: <span th:text="${curtain.paint}">paint</span>
            <p/>
                Высота: <span th:text="${curtain.height}">height</span>
            <p/>
                Цвет: <span th:text="${curtain.color}">color</span>
            </td>
            <!--озн, что *{moduleAtributeQuantity} присоединяется к  baySuccessfulCars-->

            <td class="buy" width="15%" th:text="${curtain.price}">Name</td>

        </tr>
        <tr th:each="curtain : ${selectedCurtain}">
            <td colspan="5" align="Right" width="80">
                <input type="hidden" name="quantityInDB" id="quantityInDB" th:value="${curtain.quantity}"/>
                <input type="hidden"  id="describeID" th:value="${curtain.description}"/>
                <input type="hidden" name="photoId" id="photoId" th:value="${curtain.photo}"/>
                <input type="hidden" name="priceID" id="priceID" th:value="${curtain.price}"/>

                <!--********************************NameWhisky*********************************-->
                <input type="hidden" id="name" name="name" th:value="${curtain.name}" />
                <input type="button" class="buyMenu" id="clickToSummonsBuy"  style="width: 60px" value="Купить"/>
                <!--<input type="button"  data-toggle="modal" data-target="#goBuy" id="clickToSummonsBuy"  style="width: 60px" value="Купить"/>-->

                <!--****************************MODAL WINDOW****************************-->
                <div class="modal fade" tabindex="-1" role="dialog" id="goBuy">
                    <div class="modal-dialog" align="left">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                </button>
                                <h4 class="modal-title">Корзина</h4>
                            </div>
                            <div class="modal-body">

                                <div align="center">
                                    <table border="0">
                                        <tr>
                                            <td>
                                                <img  th:attr="src=${curtain.photo}" width="50" height="80"/>
                                            </td>

                                            <td class="verticalLine" >
                                                <input type="hidden" id="idGood" th:value="${curtain.id}"/>
                                                <span th:text="${curtain.name}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td class="verticalLine">
                                                <input  type="number" style="width: 100px" min="1" autofocus="true"
                                                        th:attr="max=${curtain.quantity}" placeholder="Введите кол-во"
                                                        name="numberOrderWhisky" id="numberOrder" class="changePrice" required="" />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <br/>
                                                <span id="errorQuantity" style="color: red; display: none; font-size: smaller">
                                                  <i><b> Вы можете заказать максимум: <span style="color: red;" th:text="${curtain.quantity}"/> </b></i>
                                                </span>
                                                <span id="errorQuantityZERO" style="color: red;display: none; font-size: smaller">
                                                     <i><b> Вы не можете заказать: 0</b></i>
                                                </span>
                                                <span id="errorSummQuantity" style="color: red; display: none;  font-size: smaller">
                                                    <i><b> Этот товар есть у Вас в корзине
                                                        <br/> и заказ превышает количество на складе

                                                        <span th:text="${curtain.quantity}"/> </b></i>
                                                </span>
                                            </td>
                                            <td class="verticalLine">
                                                <span id="changePrice" style="color: black"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="button" class="btn btn-primary" id="buyFromJS"  value="Buy"/>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->

                </div><!-- /.modal -->

                <!--//******************************** Остаться на странице //// Перейти в корзину *************-->
                <!--****************************MODAL WINDOW****************************-->
                <div class="modal fade" tabindex="-1" role="dialog" id="askAboutCart">
                    <div class="modal-dialog" align="left">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                </button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">

                                <div align="center"><p/>
                                    <h3>Заказ успешно добавлен в корзину</h3>
                                    <p/>&nbsp;&nbsp;&nbsp;<p/>&nbsp;<p/>&nbsp;
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Продолжить покупки</button>
                                <input type="button" class="btn btn-primary" onclick="cartOpen()" value="Оформить заказ"/>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->

                </div><!-- /.modal -->
            </td>
        </tr>
   </table>
</div>
</body>
</html>