<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="headerMain :: header-libs"></head>

<head>
    <title>Title</title>

</head>
<body class="background">
<div th:replace="headerMain :: header"></div>

<!--*******************************TABLE ALL MODELS********************************************-->
<table  width="99%" border="0">
    <tr>
        <td >
            <div th:each="curtain : ${allCurtain}">
                <div class="pic" >

                    <a th:href="@{~/buyCurtains(hiddenModelId=${curtain.id})}" style="text-decoration: none" >

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" >
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                        </div>

                        <div align="center" style="font-family: 'Times New Roman'; color: black; font-size: small">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                        </div>
                    </a>
                </div>
            </div>
            <div th:each="curtain : ${allCloth}">
                <div class="pic">

                    <a th:href="@{~/buyClothFabric(hiddenModelId=${curtain.id})}" style="text-decoration: none" >

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: black; font-size: small">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                        </div>
                    </a>
                </div>
            </div>
            <div th:each="curtain : ${allOrderCurtain}">
                <div class="pic">

                    <a th:href="@{~/buyCurtains(hiddenYachtName=${curtain.id})}"
                       style="text-decoration: none" >

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>

                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: black font-size: small">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                        </div>
                    </a>
                </div>
            </div>
            <div th:each="curtain : ${allUp}">
                <div class="pic">

                    <input type="checkbox" name="selectCurtainForChange" th:attr="id=${curtain.id}"
                           sec:authorize="hasAuthority('admin')"/>

                    <a th:href="@{~/buyCurtains(hiddenYachtName=${curtain.id})}"
                       style="text-decoration: none" >

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                            <br/> <b>
                            <span class="priceSSS" th:text="${curtain.price}"/>
                            <span> грн.</span>
                        </b>
                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                             sec:authorize="hasAuthority('admin')">
                            Quantity: &nbsp; <span  th:text="${curtain.quantity}">quantityWhisky</span>шт.

                        </div>
                    </a>
                </div>
            </div>
            <div th:each="curtain : ${allTulle}">
                <div class="pic">

                    <a th:href="@{~/buyTulleFabric(hiddenModelId=${curtain.id})}"
                       style="text-decoration: none" >

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                            <br/> <b>
                            <span class="priceSSS" th:text="${curtain.price}"/>
                            <span> грн.</span>
                        </b>
                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                             sec:authorize="hasAuthority('admin')">
                            Quantity: &nbsp; <span  th:text="${curtain.quantity}">quantityWhisky</span> шт.
                        </div>
                    </a>
                </div>
            </div>
        </td>
    </tr>

</table>
<p/>
<div class="down">
    <table border="0" align="center">
        <tr>

            <td>
                <a href="about" > &nbsp; О нас&nbsp;&nbsp;   </a> </td>
            <td>
                <a href="payment" > &nbsp; Оплата&nbsp;&nbsp;   </a> </td>
            <td>
                <a href="delivery" >&nbsp; Доставка&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="contact" >&nbsp; Контакты&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="partner" >&nbsp; Партнерам&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="connectWithSupplier" >&nbsp; Связаться с нами&nbsp;&nbsp;&nbsp;</a>
            </td>

        </tr>
    </table>
</div>
</body>
</html>