<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="headerMain :: header-libs"></head>

<head>
    <title>Тюль, портьеры, шторы, гардины, ткани для штор, ткани для скатертей, обивочные ткани, заказные ткани</title>
    <script src="js/fabric/allFubricModel.js" ></script>
</head>
<body class="background">
<div th:replace="headerMain :: header"></div>

<!--*******************************TABLE ALL MODELS********************************************-->
<table  width="99%" style="margin: 0 auto" border="0">
    <tr>
        <td >
            <div th:each="curtain : ${allCurtain}">
                <div class="pic" >
                    <div class="curtain">
                    <a  href="#" style="text-decoration: none" >
                        <input type="hidden" name="idCurtain" id="idCurtain" th:value="${curtain.id}" />
                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" >
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                        </div>

                        <div align="center" style="font-family: 'Times New Roman'; color: black; font-size: small">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                        </div>
                    </a>
                        </div>
                </div>
            </div>
            <div th:each="curtain : ${allCloth}">
                <div class="pic">
                    <div class="clothFabric">
                    <a  href="#" style="text-decoration: none" >
                        <input type="hidden" name="clothFabricId" id="clothFabricId" th:value="${curtain.id}" />

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: black; font-size: small">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                        </div>
                    </a>
                        </div>
                </div>
            </div>
            <div th:each="curtain : ${allOrderCurtain}">
                <div class="pic">
                    <div class="orderCurtain">
                    <a  href="#" style="text-decoration: none" >
                        <input type="hidden" name="orderCurtainId" id="orderCurtainId" th:value="${curtain.id}" />

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>

                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: black font-size: small">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                        </div>
                    </a>
                        </div>
                </div>
            </div>
            <div th:each="curtain : ${allUp}">
                <div class="pic">
                    <div class="upholsteryFabric">
                    <a  href="#" style="text-decoration: none" >
                        <input type="hidden" name="upholsteryFabricId" id="upholsteryFabricId" th:value="${curtain.id}" />
                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                            <br/> <b>
                            <span class="priceSSS" th:text="${curtain.price}"/>
                            <span> грн.</span>
                        </b>
                        </div>
                    </a>
                        </div>
                </div>
            </div>
            <div th:each="curtain : ${allTulle}">
                <div class="pic">
                    <div class="tulle">
                    <a href="#" style="text-decoration: none" >
                        <input type="hidden" name="tulleId" id="tulleId" th:value="${curtain.id}" />

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                            <br/> <b>
                            <span class="priceSSS" th:text="${curtain.price}"/>
                            <span> грн.</span>
                        </b>
                        </div>

                    </a>
                </div>
                    </div>
            </div>
        </td>
    </tr>

</table>
<p/>
<div class="down">
    <table border="0" align="center">
        <tr>

            <td>
                <a href="about" > &nbsp; О нас&nbsp;&nbsp;   </a> </td>
            <td>
                <a href="payment" > &nbsp; Оплата&nbsp;&nbsp;   </a> </td>
            <td>
                <a href="delivery" >&nbsp; Доставка&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="contact" >&nbsp; Контакты&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="partner" >&nbsp; Партнерам&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="connectWithSupplier" >&nbsp; Связаться с нами&nbsp;&nbsp;&nbsp;</a>
            </td>

        </tr>
    </table>
</div>
</body>
</html>