<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="css/oldMenu.css" rel="stylesheet" type="text/css"/>
    <link href="css/links.css" rel="stylesheet" type="text/css"/>
    <link href="css/back.css" rel="stylesheet" type="text/css"/>
</head>
<body class="background">
<div class="top">
    <table bgcolor="black" border="0" width="100%">
        <tr>
            <td>
                <table style="float: left" border="0">

                    <tr>
                        <td> <img src="backgrounds/phone32.png" /></td>
                        <td> <span>  &nbsp; +38 067 112 1281 &nbsp; &nbsp; </span> </td>

                        <td> <img src="backgrounds/phone32.png" /></td>
                        <td><span>&nbsp;+38 063 880 5153 &nbsp; &nbsp;</span></td>
                        <td> <img src="backgrounds/phone32.png" /></td>
                        <td><span>&nbsp; +38 099 049 5777 </span></td>
                    </tr>
                </table>
            </td>
            <td align="left">
                <a href="/" ><img src="backgrounds/name.png"/></a>
            </td>
            <td align="right">
                <a href="index.html" class="linkTop" > &nbsp; ОПЛАТА&nbsp;&nbsp;   </a> </td>
            <td align="right">
                <a href="index.html" class="linkTop"> &nbsp; ДОСТАВКА&nbsp;&nbsp;   </a> </td>
            <td  align="right">
                <!--Registration-->
                <div align="center" th:if="${not #authorization.expression('isAuthenticated()')}" >
                    <div style="color: #feff82;">
                        <a href="/login" data-toggle="modal" data-target="#go" class="linkTop">
                            &nbsp; ВОЙТИ&nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>
                <!--Name users when authorized -->
                <div style="width: 90%" align="right"  th:if="${#authorization.expression('isAuthenticated()')}">
                    <div align="right">
                        <a  href="/logout" class="linkTop">Logout&nbsp;&nbsp;</a>
                        <!--<div align="right" th:if="${#authorization.expression('isAuthenticated()')}"/>-->
                        <!--//Эта строка выводит имя пользователя, когда он зарегистрируется.-->
                    </div>
                    <div align="left">
                        <span>Welcome&nbsp;</span>
                     <span  th:if="${#authorization.expression('isAuthenticated()')}"
                            th:text="${#authentication.name}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>

            </td>
        </tr>
    </table>
</div>
<div style=" height: 3px; background: #feff82;">&nbsp;</div>

<!--*************************************SEARCH******************************************-->
<div class="top" align="center">
    <table align="center"  border="0" width="90%">
        <tr>
            <td>
                <form action="searchOnTheSite" method="post">
                    <input type="search" autocomplete="off" name="searchRequest" id="searchRequest"
                           placeholder=" Search" class="searchMenu" />
                </form>
            </td>
            <td>
                <!--*************************************MENU******************************************-->
                <nav id="nav" style="resize: none">
                    <ul  class="menu">
                        <li ><a  href="#" style="font-size: large;
                              text-decoration: none; font-family: 'Arial'; ">
                            <span>&nbsp;&nbsp;&nbsp;ТКАНИ&nbsp;&nbsp;&nbsp;</span></a>

                            <ul class="second" style="font-size: small">
                                <li class="second"> <a href = "curtainModels">ПОРТЬЕРЫ</a></li>
                                <li class="second"><a href = "#">ТЮЛЬ</a></li>
                                <li class="second"><a href = "#">ЗАКАЗНЫЕ</a></li>
                                <li class="second"><a href = "#">ОБИВОЧНЫЕ ТКАНИ</a></li>
                                <li class="second"><a href = "clothModel">ТКАНИ ДЛЯ СКАТЕРТЕЙ</a></li>
                            </ul>
                        </li>
                        <li ><a  href="#" style="font-size: large;
                                    text-decoration: none; font-family: 'Arial'; ">
                            <span>&nbsp;&nbsp;&nbsp;ГОТОВЫЕ ИЗДЕЛИЯ&nbsp;&nbsp;&nbsp;</span></a>

                            <ul class="second" style="font-size: small">
                                <li class="second"><a href = "#">ДЛЯ ГОСТИННОЙ</a></li>
                                <li class="second"><a href = "#">ДЛЯ ДЕТСКОЙ</a></li>
                                <li class="second"><a href = "#">ДЛЯ КАБИНЕТА</a></li>
                                <li class="second"><a href = "#">ДЛЯ  КУХНИ</a></li>
                                <li class="second"><a href = "#">ДЛЯ СПАЛЬНИ</a></li>
                                <li class="second"><a href = "#">ЛАМБРИКЕНЫ</a></li>
                                <li class="second"><a href = "#">ТЮЛЬ</a></li>
                                <li class="second"><a href = "#">ШТОРЫ</a></li>
                            </ul>
                        </li>
                        <li ><a  href="#" style="font-size: large;
                    text-decoration: none; font-family: 'Arial'; ">
                            <span>&nbsp;&nbsp;&nbsp;ИНТЕРЬЕРНЫЕ МЕЛОЧИ&nbsp;&nbsp;&nbsp;</span></a>
                        </li>
                        <li ><a  href="#" style="font-size: large;
                            text-decoration: none; font-family: 'Arial'; ">
                            <span>&nbsp;&nbsp;&nbsp;ФУРНИТУРА&nbsp;&nbsp;&nbsp;</span></a>

                            <ul class="second" style="font-size: small">
                                <li class="second"><a href = "#">КИСТИ И БАХРОМА</a></li>
                                <li class="second"><a href = "#">ЛЮВЕРСЫ</a></li>
                                <li class="second"><a href = "#">ПОДХВАТЫ</a></li>
                                <li class="second"><a href = "#">РАЗНОЕ</a></li>
                                <li class="second"><a href = "#">ТЕСЬМА</a></li>
                            </ul>
                        </li>
                        <li ><a  href="#" style="font-size: large;
                             text-decoration: none; font-family: 'Arial'; ">
                            <span>&nbsp;&nbsp;&nbsp;УСЛУГИ&nbsp;&nbsp;&nbsp;</span></a>
                        </li>
                        <li ><a  href="#" style="font-size: large;
                    text-decoration: none; font-family: 'Arial'; ">
                            <span>&nbsp;&nbsp;&nbsp;АКЦИИ&nbsp;&nbsp;&nbsp;</span></a>
                        </li>
                    </ul>
                </nav>
            </td>
            <!--***************************** CART*******************************-->
            <td align="left" style="color: white">
                $ <span id="totalCart"> </span>
                <button  id="whiskyCart" onclick="cartOpen()">
                    <img src="backgrounds/main/Shopping-Cart-icon32.png"/></button>
            </td>
        </tr>
    </table>
</div>
<!--*******************************TABLE ALL MODELS********************************************-->
<table  width="99%" border="0">
    <tr>
        <td >
            <div th:each="curtain : ${allCurtain}">
                <div class="pic">

                    <input type="checkbox" name="selectCurtainForChange" th:attr="id=${curtain.id}"
                           sec:authorize="hasAuthority('admin')"/>

                    <a th:href="@{~/buyCurtains(hiddenYachtName=${curtain.id})}"
                       style="text-decoration: none" >

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" >
                            <b>   <span th:text="${curtain.name}">Name</span></b>

                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                             sec:authorize="hasAuthority('admin')">
                            Quantity: &nbsp; <span  th:text="${curtain.quantity}"
                        >quantityWhisky</span>piece
                            <!--<input type="hidden" id="quantity"  th:value="${curtain.quantityCurtain}"/>-->
                        </div>

                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="isAnonymous()">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="hasAuthority('user')">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div th:each="curtain : ${allCloth}">
                <div class="pic">

                    <input type="checkbox" name="selectCurtainForChange" th:attr="id=${curtain.id}"
                           sec:authorize="hasAuthority('admin')"/>

                    <a th:href="@{~/buyCurtains(hiddenYachtName=${curtain.id})}"
                       style="text-decoration: none" >

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>

                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                             sec:authorize="hasAuthority('admin')">
                            Quantity: &nbsp; <span  th:text="${curtain.quantity}"
                        >quantityWhisky</span>piece
                            <!--<input type="hidden" id="quantity"  th:value="${curtain.quantityCurtain}"/>-->
                        </div>

                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="isAnonymous()">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="hasAuthority('user')">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div th:each="curtain : ${allOrderCurtain}">
                <div class="pic">

                    <input type="checkbox" name="selectCurtainForChange" th:attr="id=${curtain.id}"
                           sec:authorize="hasAuthority('admin')"/>

                    <a th:href="@{~/buyCurtains(hiddenYachtName=${curtain.id})}"
                       style="text-decoration: none" >

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>

                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                             sec:authorize="hasAuthority('admin')">
                            Quantity: &nbsp; <span  th:text="${curtain.quantity}"
                        >quantityWhisky</span>piece
                            <!--<input type="hidden" id="quantity"  th:value="${curtain.quantityCurtain}"/>-->
                        </div>

                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="isAnonymous()">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="hasAuthority('user')">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div th:each="curtain : ${allUp}">
                <div class="pic">

                    <input type="checkbox" name="selectCurtainForChange" th:attr="id=${curtain.id}"
                           sec:authorize="hasAuthority('admin')"/>

                    <a th:href="@{~/buyCurtains(hiddenYachtName=${curtain.id})}"
                       style="text-decoration: none" >

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>

                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                             sec:authorize="hasAuthority('admin')">
                            Quantity: &nbsp; <span  th:text="${curtain.quantity}"
                        >quantityWhisky</span>piece
                            <!--<input type="hidden" id="quantity"  th:value="${curtain.quantityCurtain}"/>-->
                        </div>

                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="isAnonymous()">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="hasAuthority('user')">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div th:each="curtain : ${allTulle}">
                <div class="pic">

                    <input type="checkbox" name="selectCurtainForChange" th:attr="id=${curtain.id}"
                           sec:authorize="hasAuthority('admin')"/>

                    <a th:href="@{~/buyCurtains(hiddenYachtName=${curtain.id})}"
                       style="text-decoration: none" >

                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>

                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                             sec:authorize="hasAuthority('admin')">
                            Quantity: &nbsp; <span  th:text="${curtain.quantity}"
                        >quantityWhisky</span>piece
                            <!--<input type="hidden" id="quantity"  th:value="${curtain.quantityCurtain}"/>-->
                        </div>

                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="isAnonymous()">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="hasAuthority('user')">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </td>
    </tr>

</table>
</body>
</html>