<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div  th:each="cloth : ${allCloth}" >
    <div class="morph pic" >

        <a th:href="@{~/buyYachts(hiddenYachtName=${cloth.id})}"
           style="text-decoration: none" >
            <img th:attr="src=${cloth.photo}"  width="400" height="280"/>
  <img th:attr="src=${cloth.photo01}"  width="400" height="280"/>
  <img th:attr="src=${cloth.photo02}"  width="400" height="280"/>
  <img th:attr="src=${cloth.photo03}"  width="400" height="280"/>
  <img th:attr="src=${cloth.photo04}"  width="400" height="280"/>
  <img th:attr="src=${cloth.photo05}"  width="400" height="280"/>

            <div align="center" >
                <b>   <span th:text="${cloth.name}">Name</span></b></div>
               <div align="center" >
                <b>   <span th:text="${cloth.description}">Name</span></b></div>
               <div align="center" >
                <b>   <span th:text="${cloth.structure}">Name</span></b></div>
               <div align="center">
                <b>   <span th:text="${cloth.paint}">Name</span></b></div>

            <div align="center" >
                <b> Quantity: &nbsp; <span  th:text="${cloth.quantity}"
                >quantityWhisky</span>piece</b>
            </div>
            <div align="center" >
                <b> $&nbsp; <span  th:text="${cloth.price}">Price</span></b>
            </div>
        </a>
    </div>
</div>
</body>
</html>