html, body {
    width: 100%;
}

.background{    background-color: #020029;}
.top {
    background-color: black;
    border-bottom: #FEFF82 2px solid;
    min-width: 1300px;
}
.down{
    padding-top: 10px;
    margin-top: 35px;
    background-color: black;
    border-top:  #FEFF82 2px solid;
    min-width: 1300px;
    color: white;
    font-family: Arial;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: #FEFF82 1px solid;;
}
.down table{
    margin: auto;
}
.down a{

    color: white;
}
.down a:hover{
    color: #5e5e5e;
}
.white {    background-color: #fff9ff;}

.phone {background: url("../backgrounds/phone32.png");}

span{
    color: white;
    font-size: medium;
    font-family: "Times New Roman";
}
.searchMenu{
    border-color: white;
    background-color: black;
    color: white;
    border-radius: 7px;
}

/*это для модального окна jquery.leanModal.min*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.backRegistration
{
    background-image: url("../backgrounds/registration.jpg");
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */

}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.pic {
    border:7px solid #0b0a26;
    /*border:5px solid #333;*/
    float: left;
    height: 350px;
    width: 220px;
    margin: 15px;
    overflow: hidden;
    background: white;
    color: black;

    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 8px 8px 8px #000000;
}

.pic span{
    color: black;
}
/*.buttons{*/
    /*ro*/
/*}*/