html, body {
    width: 100%;
}

.background{    background-color: #020029;}
.top {
    background-color: black;
    border-bottom: #FEFF82 2px solid;
    min-width: 1300px;
}
.down{
    position: absolute;
    bottom: 10px;
    padding-top: 10px;
    margin-top: 35px;
    background-color: black;
    border-top:  #FEFF82 2px solid;
    min-width: 100%;
    color: white;
    font-family: Arial;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: #FEFF82 1px solid;;
}
.down table{
    margin: auto;
}
.down a{

    color: white;
}
.down a:hover{
    color: #5e5e5e;
}
.white {    background-color: #fff9ff;}

.phone {background: url("../backgrounds/phone32.png");}

span {
    color: white;
    font-size: medium;
    font-family: "Times New Roman";
}
.searchMenu{
    border-color: white;
    background-color: black;
    color: white;
    border-radius: 7px;
}.buyMenu{
    border-color: white;
    background-color: #04004b;
    color: white;
    border-radius: 7px;
}
td.searchPlane{
    background: #04004b;
    width: 150px;
    color: white;
    float: right;
}
td.main{
    width: 1100px;
}
.searchTextColor {
    background-color: grey;
    color: white;
    font-size: medium;
    font-family: "Times New Roman";
    border-radius: 5px;
    padding-left: 15px;
}
.searchInput{
    margin-top: 10px;
}
.searchColor{
    border: solid 1px white;
    padding: 10px;
    border-radius: 10px;
}
.searchPrice{
    border: solid 1px white;
    padding: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.pic {
    border:7px solid #0b0a26;
    /*border:5px solid #333;*/
    float: left;
    height: 350px;
    width: 220px;
    margin: 15px;
    overflow: hidden;
    background: white;
    color: black;

    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 8px 8px 8px #000000;
}

.pic span{
    font-size: small;
    color: black;
    font-family: "Times New Roman";
}
.buy{
    color: white;
    font-family: "Times New Roman";
    font-size: medium;
}
.submitForDeleteInCustomerOrder{
    width: 16px;
    height: 16px;
    background: transparent url("../icons/delete16.gif");
    border-color: #020029;
    cursor: pointer;
    cursor: hand;
}
table.ifChange tr.changeColor {
    background-color: #a39fa1;
}
table.ifChange tr.changeColorReceiveOrder {
    background-color: #5da300;
}
tr.changeColorSentOrder {
    background-color: #a39fa1;
}
table.ifChange tr.orderFull {
    background-color: #2a0301;
}
table span .textColor{
    color: white;
}
.tableBtn{
    background-color: #92C93F; border-radius: 28px;
    border: 3px solid #020029; color: white; font-size: 12px;
    font-weight: bold; text-shadow: 0px 3px 4px #283966; padding: 5px;
}
.tableBtn:hover{
    background-color: #82c023;
}