.checkbox {
    position:relative;
    padding-left: 40px;;
}
.checkbox input[type=checkbox] {
    display:none;
}
.checkbox label:after {
    content:'';
    display:block;
    height:34px;
    width:34px;
    outline:1px solid #939598;
    position:absolute;
    top:0;
    left:0;
}
.checkbox input[type=checkbox]:checked + label:after {
    outline:1px solid #939598;
    border:1px solid #fff;
    width:32px;
    height:32px;
    background-color:#63849F;
}


.whiteColorDiv{
    width: 40px;
    height: 40px;
    background: #ddd;
    /*margin: 20px 90px;*/

    /*border-radius: 100%;*/
    /*position: relative;*/
    /*box-shadow: 0px 1px 8px rgba(0,0,0,0.5);*/

}
.whiteColorDiv label{
    display: block;
    width: 46px;
    height: 46px;
    /*border-radius: 100px;*/

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: -1;

    background: #31ff00;
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
.whiteColorCheck{
    display: none;
}
.whiteSpan{
    padding-top: 10px;
}
.inSideColor{
    width: 40px;
    height: 40px;
    background: #fdf6ff;
    /*margin: 20px 90px;*/

    /*border-radius: 100%;*/
    position: relative;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.5);
}
.whiteColorDiv input[type=checkbox]:checked+  label{
    /*display: none;*/
    background: red;
}
.beigeColor{
    width: 80px;
    height: 80px;
    background: #31ff00;
    background-color: #1b6d85;
    position: relative;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.5);
}
