
.linkTop{background-color: transparent}
.linkTop:hover {    background-color: #5e5e5e;
    border-radius: 10px;}

a.linkTop  {
    text-decoration: none;
    font-family: Arial;
    color: white;
    font-size: medium;
}
/*a:link {    background-color: black}*/

/*a:visited {    background-color: #000000*/
/*}*/

/*a:hover {    background-color: #959595;*/
    /*border-radius: 10px;}*/

/*a:active {    background-color: gold;}*/


.menu {background-color: transparent;

    /*cursor: pointer;*/
}
.menu span{color: white;}

.menu span:hover {
    /*background-color: #150023;*/
    color: #959595;
    /*font-weight:bold;*/

}

/*.menu:active{background-color: green}*/
