<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="../static/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../static/js/tests/filter.js" type="text/javascript"></script>
</head>
<body>
<table align="center">
    <tr>
        <td>
            <div class="color один">один</div>
            <div class="color два">два</div>
            <div class="color трии">three</div>
            <div class="color четыре six">четыре six</div>
            <!--<div class="color one two">one two</div>-->
        </td>
        <td>
            <div class="filterClass" id="filter">
            <input type="checkbox" value="один" id="один" >один<br>
            <input type="checkbox" value="два" id="два" >два<br>
            <input type="checkbox" value="трии" id="трии" >трии<br>
            <input type="checkbox" value="четыре six" id="четыре one" >четыре six<br>
            <!--<input type="checkbox" value="one two" id="one two" >one two-->
            </div>
        </td>
    </tr>
</table>
</body>
</html>