<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="../static/css/filterColor.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/jquery-3.1.1.min.js" type="text/javascript"></script>

    <script src="../static/js/fabric/searchCurtainHello.js" type="text/javascript"></script>
</head>
<body>
<h1>Hello world!!!</h1>
<table border="0">
    <tr>
        <td width="20%" >
            <div id="triangleRed" class="color Red triangle"></div>
            <div id="triangleBlue" class="color Blue triangle"></div>
            <div id="triangleGreen" class="color Green triangle"></div>
            <div id="triangleGold" class="color Gold triangle"></div>
        </td><td width="20%" align="center">
            <div id="squareRed" class="color Red square"></div>
            <div id="squareBlue" class="color Blue square"></div>
            <div id="squareGreen" class="color Green square"></div>
            <div id="squareGold" class="color Gold square"></div>
        </td>        <td width="40%" align="center">
            <div id="circleRed" class="color Red circle"></div>
            <div id="circleBlue" class="color Blue circle"></div>
            <div id="circleGreen" class="color Green circle"></div>
            <div id="circleGold" class="color Gold circle"></div>
        </td>
        <td width="40%" >
            Filter:
            <br/>
            <div class="searchColor" id="filterColor">
                <div class="searchTextColor"> Color: </div>

                <input type="checkbox"  id="Red"  value="Red" />Red
                <br/>
                <input type="checkbox"  id="Blue"   value="Blue"/>Blue
                <br/>
                <input type="checkbox"  id="Green"  value="Green"/>Green
                <br/>
                <input type="checkbox" id="Gold"   value="Gold"/>Gold
                <p/>
            </div>
            <div class="searchColor" id="searchShape">
                <div class="searchShape"> Shape:</div>
                <div class="paintSelect">
                    <input type="checkbox" id="triangle"  value="triangle" />triangle
                    <br/>
                    <input type="checkbox" id="circle"  value="circle"/>circle
                    <br/>
                    <input type="checkbox" id="square" value="square"/>square
                </div>
            </div>
        </td>
    </tr>

</table>
</body>
</html>