<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Title</title>-->
    <!--<link href="../../static/css/colorAdd.css" rel="stylesheet" type="text/css"/>-->
<!--</head>-->
<!--<body>-->
<!--<div class="textColor">Цвет:</div>-->
<!--<br/>-->

<!--&lt;!&ndash;<div class="checkbox">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" id="check"><label for="check">Выбери меня</label>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<p/>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="filters_color" style="display: none;">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="colorList">&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="whiteColorDiv" title="Белый" >&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="inSideColor">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="checkbox" title="Белый"  id="whiteCheckbox" value="White" class="whiteColorCheck" name="1" />&ndash;&gt;-->
        <!--&lt;!&ndash;<label for="whiteCheckbox"></label>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
       <!--&lt;!&ndash;</div><span class="whiteSpan"> Белый</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<br/>&ndash;&gt;-->
        <!--&lt;!&ndash;<label class="beigeColorLbl">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="checkbox" title="Бежевый" class="beigeColor" name="1" value="Beige">&ndash;&gt;-->
        <!--&lt;!&ndash;<div title="Бежевый" class="beigeColorDiv">Бежевый</div></label>&ndash;&gt;-->

        <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="checkbox" title="кремовый " name="1" class="creamColor" value="on">&ndash;&gt;-->
        <!--&lt;!&ndash;<div title="кремовый " class="filters__name">кремовый </div></label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="checkbox" title="Золотой" class="goldColor" value="on">&ndash;&gt;-->
        <!--&lt;!&ndash;<div title="Золотой" class="filters__name">Золотой</div></label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="checkbox" title="желтый" class="yellowColor" value="on">&ndash;&gt;-->
        <!--&lt;!&ndash;<div title="желтый" class="filters__name">желтый</div></label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="checkbox" title="оранжевый" class="orangeColor" value="on">&ndash;&gt;-->
        <!--&lt;!&ndash;<div title="оранжевый" class="filters__name">оранжевый</div></label>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
 <!--</div>-->
<!--</body>-->
<!--</html>-->
<!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Голубой" class="filters__checkbox cyancolor" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Голубой" class="filters__name">Голубой</div></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Красный" class="filters__checkbox redcolor" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Красный" class="filters__name">Красный</div></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Бордовый" class="filters__checkbox vinouscolor" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Бордовый" class="filters__name">Бордовый</div></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Разноцветный" class="filters__checkbox varicoloured" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Разноцветный" class="filters__name">Разноцветный</div></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="filters__item"&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Бирюзовый" class="filters__checkbox turquoisecolor" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Бирюзовый" class="filters__name">Бирюзовый</div></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Коричневый" class="filters__checkbox browncolor" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Коричневый" class="filters__name">Коричневый</div></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Пурпурный" class="filters__checkbox purplecolor" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Пурпурный" class="filters__name">Пурпурный</div></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Розовый" class="filters__checkbox pinkcolor" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Розовый" class="filters__name">Розовый</div></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Хаки" class="filters__checkbox khakicolor" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Хаки" class="filters__name">Хаки</div></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Жёлтый" class="filters__checkbox yellowcolor" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Жёлтый" class="filters__name">Жёлтый</div></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Оранжевый" class="filters__checkbox orangecolor" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Оранжевый" class="filters__name">Оранжевый</div></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="filters__item">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="checkbox" title="Салатовый" class="filters__checkbox limecolor" value="on">&ndash;&gt;-->
    <!--&lt;!&ndash;<div title="Салатовый" class="filters__name">Салатовый</div></label>-->