<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
<!--</head>-->
<!--<body>-->
    <!--<table width="50%" border="0" align="center">-->
        <!--<form action="addRadio"  method="post" >-->

        <!--<tr>-->
            <!--<td width="20%">-->
                <!--Структура:-->
            <!--</td>-->
            <!--<td>-->
                <!--<input type="radio" name="rbn" id="rbn" value="Red"/>Red-->
                <!--<input type="radio" name="rbn"  value="White"/>White-->
                <!--<input type="radio" name="rbn"  value="Blue"/>Blue-->
                <!--<input type="radio" name="rbn"  value="Yellow"/>Yellow-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td colspan="2" align="center">-->
                <!--<input type="submit" value="Submit"/>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</form>-->
    <!--</table>-->
<!--</body>-->
<!--</html>-->