
#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame
{   ;

    width:980px;
    margin:0 auto; /*center-aligned*/
}

#slider, #slider .sliderInner {
    width:980px;height:455px;/* Must be the same size as the slider images */
    border-radius:5px;
}

#slider {
    background-color: transparent;
    position: relative;
    margin-top:10px;
    margin-left: 15%; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 3px 5px #feff82;
    z-index: -1;
}


/* ------ built-in navigation bullets wrapper ------ball inside*/
#slider .navBulletsWrapper  {
    top:460px;
    text-align:center;
    background:none;
    position:relative;
    z-index:3;
}

/* each bullet */
#slider .navBulletsWrapper div
{
    width:11px; height:11px;
    font-size:0;color:White;/*hide the index number in the bullet element*/
    background:transparent url(bulle.png) no-repeat 0 0;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider .navBulletsWrapper .active {background-position:0 -11px;}


/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

/*#slider>a, #slider video, #slider audio {display:none;}*/
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}