<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="headerMain :: header-libs"></head>

<head>
    <title>Готовые изделия, Finish fabric products</title>
    <script src="js/finishProduct/allFinishProducts.js" ></script>
</head>
<body class="background">
<div th:replace="headerMain :: header"></div>

<!--*******************************TABLE ALL MODELS********************************************-->
<table  width="99%" border="0" style="margin:0 auto;">
    <tr>
        <td >
            <div th:each="curtain : ${allBedroom}">
                <div class="pic" >
                    <div class="bedroomSelected">

                    <a href="#" style="text-decoration: none" >
                        <input type="hidden" name="idBedroom" id="idBedroom" th:value="${curtain.id}" />
                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" >
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                        </div>

                        <div align="center" style="font-family: 'Times New Roman'; color: black; font-size: small">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                        </div>
                    </a>
                </div>
                    </div>
            </div>

            <div th:each="curtain : ${allCabinet}">
                <div class="pic">
                    <div class="cabinetSelected">

                        <a href="#" style="text-decoration: none" >
                            <input type="hidden" name="idCabinet" id="idCabinet" th:value="${curtain.id}" />
                            <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                            <div align="center" style="font-family: 'Times New Roman'; color: black">
                                <b>   <span th:text="${curtain.name}">Name</span></b>
                            </div>
                            <div align="center" style="font-family: 'Times New Roman'; color: black; font-size: small">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div th:each="curtain : ${allChildren}">
                <div class="pic">
                    <div class="childrenSelected">
                    <a href="#" style="text-decoration: none" >
                        <input type="hidden" name="idChildren" id="idChildren" th:value="${curtain.id}" />
                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: black font-size: small">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                        </div>
                    </a>
                </div>
                    </div>
            </div>
            <div th:each="curtain : ${allGuest}">
                <div class="pic">
                    <div class="guestSelected">
                    <a href="#" style="text-decoration: none" >
                        <input type="hidden" name="idGuest" id="idGuest" th:value="${curtain.id}" />
                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="isAnonymous() or hasAuthority('user')">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
            </div>
            <div th:each="curtain : ${allLambr}">
                <div class="pic">
                    <div class="lambrSelected">
                    <a href="#" style="text-decoration: none" >
                        <input type="hidden" name="idLambr" id="idLambr" th:value="${curtain.id}" />
                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="isAnonymous() or hasAuthority('user')">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
            </div>
            <div th:each="curtain : ${allCurtain}">
                <div class="pic">
                    <div class="curtainSelected">
                    <a href="#" style="text-decoration: none" >
                        <input type="hidden" name="idCurtain" id="idCurtain" th:value="${curtain.id}" />
                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="isAnonymous() or hasAuthority('user')">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
            </div>
            <div th:each="curtain : ${allTulle}">
                <div class="pic">
                    <div class="tulleSelected">
                    <a href="#" style="text-decoration: none" >
                        <input type="hidden" name="idTulle" id="idTulle" th:value="${curtain.id}" />
                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>
                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="isAnonymous() or hasAuthority('user')">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
            </div>

            <div th:each="curtain : ${allKitchen}">
                <div class="pic">
                    <div class="kitchenSelected">
                        <a href="#" style="text-decoration: none" >
                            <input type="hidden" name="idKitchen" id="idKitchen" th:value="${curtain.id}" />
                        <img th:attr="src=${curtain.photo}"  width="220" height="280"/>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <b>   <span th:text="${curtain.name}">Name</span></b>

                        </div>
                        <div align="center" style="font-family: 'Times New Roman'; color: black">
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="isAnonymous()">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                            <div align="center" style="font-family: 'Times New Roman'; color: #000000; font-size: small"
                                 sec:authorize="hasAuthority('user')">
                                <b> $&nbsp; <span  th:text="${curtain.price}">Price</span></b>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
            </div>
        </td>
    </tr>

</table>
<div class="down">
    <table border="0" align="center">
        <tr>

            <td>
                <a href="about" > &nbsp; О нас&nbsp;&nbsp;   </a> </td>
            <td>
                <a href="payment" > &nbsp; Оплата&nbsp;&nbsp;   </a> </td>
            <td>
                <a href="delivery" >&nbsp; Доставка&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="contact" >&nbsp; Контакты&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="partner" >&nbsp; Партнерам&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="connectWithSupplier" >&nbsp; Связаться с нами&nbsp;&nbsp;&nbsp;</a>
            </td>

        </tr>
    </table>
</div>
</body>
</html>