<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="headerMain :: header-libs"></head>
<head>
    <title>Акции, скидки, распродажи</title>

    <!--<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>-->
    <!--<script src="js/jquery-ui.min.js" type="text/javascript"></script>-->
    <!--<link href="js/jquery-ui.min.css" rel="stylesheet" type="text/css"/>-->
    <script src="js/offer/offer.js" ></script>

</head>
<body class="background">
<div th:replace="headerMain :: header"></div>

<!--ADD, EDIT, DELETE-->
<div class="admin">
<div sec:authorize="hasAuthority('admin')" align="right">
    <p/>
    <input type="submit" style="width: 60px" sec:authorize="hasAuthority('admin')" onclick="deleteSelectedElements()"
           name="DeleteYacht" id="DeleteYacht" class="searchMenu" value="Delete"/>
</div>
    </div>
<!--********************************SHOW*******************************-->
<input type="hidden" th:value="${namePage}" id="selectPage"/>
    <table border="0" width="95%">
        <tr>
            <td class="main" valign="top">
                <div th:each="curtain : ${allOffer}">
                        <div class="pic" id="mainDiv">
                            <div align="center"  sec:authorize="hasAuthority('admin')">
                                Quantity: &nbsp;
                                <input type="checkbox" name="selectCurtainForChange" th:attr="id=${curtain.id}"
                                      style="background-color: #0f0f0f"/>
                                <br/>
                            </div>
                            <div class="pageSelected">

                                <a href="#" style="text-decoration: none" >
                                    <input type="hidden" name="partBackEnd" id="partBackEnd" th:value="${curtain.part}" />
                                    <input type="hidden" name="id" id="id" th:value="${curtain.id}" />
                                    <input type="hidden" name="idCommodity" id="idCommodity" th:value="${curtain.idFromCommodity}" />
                                    <!--OFFER IMAGE-->
                                    <div th:if="${curtain.offer}==true" style=" position: fixed">
                                        <img src="icons/offer1.png" />
                                    </div>


                                    <img th:attr="src=${curtain.photo}" name="photoId"  width="200" height="280"/>
                                    <div align="center">
                                        <b>   <span th:text="${curtain.name}">Name</span></b>
                                        <br/> <span class="priceSSS" th:text="${curtain.price}"/>грн.
                                    </div>


                                </a>
                            </div>
                        </div>
                    </div>
            </td>
    </tr>
</table>

</body>
<div class="down">
    <table border="0" align="center">
        <tr>

            <td>
                <a href="about" > &nbsp; О нас&nbsp;&nbsp;   </a> </td>
            <td>
                <a href="payment" > &nbsp; Оплата&nbsp;&nbsp;   </a> </td>
            <td>
                <a href="delivery" >&nbsp; Доставка&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="contact" >&nbsp; Контакты&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="partner" >&nbsp; Партнерам&nbsp;&nbsp;&nbsp;</a>
            </td>
            <td>
                <a href="connectWithSupplier" >&nbsp; Связаться с нами&nbsp;&nbsp;&nbsp;</a>
            </td>

        </tr>
    </table>
</div>
</html>